<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <!-- Campaign Approval  -->
    <servlet>
        <servlet-name>CampaignApproval</servlet-name>
        <servlet-class>PresentationDell.CampaignApproval</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CampaignApproval</servlet-name>
        <url-pattern>/CampaignApproval</url-pattern>
    </servlet-mapping>
    
    <!-- DellFetch  -->
    <servlet>
        <servlet-name>DellFetch</servlet-name>
        <servlet-class>PresentationDell.DellFetch</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DellFetch</servlet-name>
        <url-pattern>/DellFetch</url-pattern>
    </servlet-mapping>
    
    <!-- dell navigation controller  -->
    <servlet>
        <servlet-name>DellNavCon</servlet-name>
        <servlet-class>PresentationDell.DellNavCon</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DellNavCon</servlet-name>
        <url-pattern>/DellNavCon</url-pattern>
    </servlet-mapping>
    
    <!-- Main  -->
    <servlet>
        <servlet-name>Main</servlet-name>
        <servlet-class>PresentationDell.Main</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Main</servlet-name>
        <url-pattern>/Main</url-pattern>
    </servlet-mapping>
    
    <!-- Apply Campaign  -->
    <servlet>
        <servlet-name>ApplyCampaign</servlet-name>
        <servlet-class>PresentationPartner.ApplyCampaign</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ApplyCampaign</servlet-name>
        <url-pattern>/ApplyCampaign</url-pattern>
    </servlet-mapping>
    
    <!-- Fetch Campaign  -->
    <servlet>
        <servlet-name>FetchCampaigns</servlet-name>
        <servlet-class>PresentationPartner.FetchCampaigns</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FetchCampaigns</servlet-name>
        <url-pattern>/FetchCampaigns</url-pattern>
    </servlet-mapping>
    
    <!-- Fetch Campaign  -->
    <servlet>
        <servlet-name>CompletePoe</servlet-name>
        <servlet-class>PresentationPartner.CompletePoe</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CompletePoe</servlet-name>
        <url-pattern>/CompletePoe</url-pattern>
    </servlet-mapping>
    
    <!-- Partner Fetch  -->
    <servlet>
        <servlet-name>PartnerFetch</servlet-name>
        <servlet-class>PresentationPartner.PartnerFetch</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PartnerFetch</servlet-name>
        <url-pattern>/PartnerFetch</url-pattern>
    </servlet-mapping>
  
  <!-- Partner View POE  -->
    <servlet>
        <servlet-name>PartnerViewPOE</servlet-name>
        <servlet-class>PresentationPartner.PartnerViewPOE</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PartnerViewPOE</servlet-name>
        <url-pattern>/PartnerViewPOE</url-pattern>
    </servlet-mapping>
  
    <!-- navigation controller  -->
    <servlet>
        <servlet-name>navCon</servlet-name>
        <servlet-class>PresentationPartner.navCon</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>navCon</servlet-name>
        <url-pattern>/navCon</url-pattern>
    </servlet-mapping>

    <!-- UploadFile  -->
    <servlet>
        <servlet-name>UploadFile</servlet-name>
        <servlet-class>PresentationPartner.UploadFile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadFile</servlet-name>
        <url-pattern>/UploadFile</url-pattern>
    </servlet-mapping>

    <context-param>
        <description>Location to store uploaded file</description>
        <param-name>file-upload</param-name>
        <param-value>
            /DellCampaign/Poe
         
        </param-value>
    </context-param>
</web-app>
